@model IEnumerable<WebApplication2.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facultad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
